<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invest</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<form th:action="@{/product/borrow}" method="post">
    <table class="rwd-table">
        <tr>
            <th>产品名称</th>
            <th>投资期限</th>
            <th>利率</th>
            <th>还款方式</th>
            <th>购买金额</th>
            <th>出借</th>
        </tr>
        <tr th:each="item : ${productList}" >
            <td data-th="" th:text="${item.getName()}"></td>
            <td data-th="" th:text="${item.getInvestmentHorizon()}"></td>
            <td data-th="" th:text="${item.getInterestRate()}"></td>
            <td data-th="" th:text="${item.getPaybackMethod()}"></td>
            <td>
                <input type="text" name="borrow_amount" th:value="0.00"/>
            </td>
            <td th:data-th="${item.getId()}">
                <input type="hidden" name="productId" th:value="${item.getId()}">
                <input id="editButton" type="submit" value="提交"/>
            </td>
        </tr>
    </table>
</form>


<script>
    window.onload = function (e) {

    }

</script>
</body>
</html>