<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invest</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<form th:action="@{/product/edit}" method="post">
    <table class="rwd-table">
        <tr>
            <th>产品名称</th>
            <th>计息方式</th>
            <th>利率</th>
            <th>还款方式</th>
            <th>加入人数</th>
            <th>编辑</th>
        </tr>
        <tr th:each="item : ${productList}" >
            <td data-th="">
                <input type="text" name="name" th:value="${item.getName()}"/>
            </td>
            <td>
                <input type="text" name="investmentHorizon" th:value="${item.getInvestmentHorizon()}"/>
            </td>
            <td>
                <input type="text" name="interestRate" th:value="${item.getInterestRate()}"/>
            </td>
            <td>
                <input type="text" name="paybackMethod" th:value="${item.getPaybackMethod()}"/>
            </td>
            <td>
                <input type="text" name="personJoined" th:value="${item.getPersonJoined()}"/>
            </td>
            <td th:data-th="${item.getId()}">
                <input type="hidden" name="id" th:value="${item.getId()}">
                <input id="editButton" type="submit" value="提交"/>
            </td>
        </tr>
    </table>
</form>


<script>
    window.onload = function (e) {

    }

</script>
</body>
</html>